$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

#logo {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

body {
  padding-top: 80px;
}

.nav_item {
  margin-left: 25px;
  float: left;
  margin-top: 20px;
  list-style: none;
  .inline-button {
    display: inline-block;
    &:nth-child(1n+2) {
      padding-left: 10px;
    }
  }
}

//.nav_ul_item {
  //padding-left: 25px;
  //float: left;
  //margin-top: 20px;
  //list-style: none;
//}

h1, h2, h3, h4 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

.left {
  text-align: left;
  letter-spacing: .5px;
}

.footer {
  margin-top: 25px;
  border-top: 1px solid #eaeaea;
  color: #777;
  text-align: right;
}

.user_info {
  margin-top: 10px;
}

.gravatar {
  border-radius: 10px;
}

.well {
  backgroud-color: #ededed;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

.input_checkbox input {
  width: auto !important;
}

input {
  height: auto !important;
}

.badge {
  background-color: white !important;
}

.spaceright {
  margin: 0 5px 0 0;
}

span.image {
  margin-top: 10px;

  input {
    border: 0;
  }
}

.show_domain {
  margin: 10px;
}

.alert-message {
  position: absolute;
  top: 80px;
  left: 15%;
}

.disabledmail, .disabledmail a {
  text-decoration: line-through;
  text-color: grey;
}

.mailsfix {
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  list-style: none;
}
