$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

#logo {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

.nav_item {
  margin-left: 25px;
  float: left;
  margin-top: 20px;
  list-style: none;
  .inline-button {
    display: inline-block;
    &:nth-child(1n+2) {
      padding-left: 10px;
    }
  }
}
